<!-- JS -->
<script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/bower_components/owl.carousel/dist/owl.carousel.min.js" type="text/javascript"></script>

<!-- Main JS-->
<script src="assets/js/App.js"></script>
<script src="assets/js/main.js"></script>
<!-- /JS -->