<head>
    <meta charset="UTF-8">

    <title>Продается база уптк </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/bower_components/owl.carousel/dist/assets/owl.theme.default.css">
    <!-- icons -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

    <!-- main css -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- /main css -->
    <!-- /css -->
</head>