<!-- Header -->
<header>

    <div class="navigation">
        <div class="navigation-inner-wrap">

            <div class="container">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div id="main-navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#" name="Главная">Главная</a></li>
                            <li><a href="#location" name="Расположение">Расположение</a></li>
                            <li><a href="#premises" name="Помещение">Помещение</a></li>
                            <li><a href="#communications" name="Комуникации">Комуникации</a></li>
                            <li><a href="#benefits" name="Преимущества">Преимущества</a></li>
                            <li><a href="#video" name="Видео">Видео</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>

        </div><!--/.navigation-inner-wrap-->
    </div><!--/.navigation-->

</header><!-- /Header -->
