@import "parts/fonts";
@import "parts/mixins";

/* =Vars
-------------------------- */

@mainColor: #000;
@linkColor: #000;
@linkHoverColor: #870b00;
@linkUnderlineHoverColor: #bd0044;
@phoneAnimateColor: rgb(255, 0, 80);;

/* =Animations
-------------------------- */

.linkHoverAnimate {
  position: relative;
  &:after{
    content: "";
    display: block;
    width: 0;
    background: @linkUnderlineHoverColor;
    height: 3px;
    margin: 0 auto;
    .transition(.5s width ease);
  }
  &:hover {
    &:after{
      width: 100%;
    }
  }
}

.keyframes(phoneColorAnimation;
{
  30%,60% {color: @phoneAnimateColor;}
});


/* ----------------------- */

h1, h2, h3, h4, h5, h6{
  font-family: "MullerExtraBold", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
}
h1 {font-size: 40px;}
h2 {font-size: 35px;}
h3 {font-size: 30px;}

*,
a:hover, button:hover,
a:visited, button:visited,
a:active, button:active,
a:focus, button:focus
{
  outline: none;
}

a,button,input {
  .transition( all .5s);
}

.nav>li>a:focus,
.nav>li>a:hover{
  outline: none;
  background: none;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.modal {
  textarea {
    max-width: 100%;
    max-height: 150px;
  }
}

button.slick-go-next,
button.slick-go-prev{
  font-size: 30px;
  line-height: 30px;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 1;
  .transform(translate(0, -50%));
}
button.slick-go-next{right: -25px;}
button.slick-go-prev{left: -25px}


body, html {
  font-family: "MullerLight", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
  letter-spacing: 1px;
}

a {
  color: @linkColor;
  &:hover{
    color: @linkHoverColor;
  }
}

header{
  padding: 15px 0 0;
  .navigation{
    font-family: "MullerExtraBold", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }



  nav.navbar {
    min-height: inherit;

    &.navbar-default{
      border: none;
      box-shadow: none;
      background: none;
      margin-bottom: 0;

      a {
        color: #000;
        padding: 10px 25px;
        position: relative;
      }
    }

    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      float: none;
      text-align: center;
    }
    li{
      display: inline-block;
      float: none;
      .linkHoverAnimate;


      &:not(:last-child){
        margin-right: 30px;
      }
    }
  }
}

.info-line{
  padding: 20px 0;
  .info-item{
    &.contact-data{
      text-align: right;
    }
    &.gps-coors{
      text-align: right;
    }
  }
  .pre-content{
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: lowercase;
  }
  .content{
    font-family: MullerExtraBold, sans-serif;
    font-size: 45px;
    letter-spacing: 3px;
    line-height: 1.2;
  }
  a.telephone{
    text-decoration: none;
    letter-spacing: 4px;
    .animationAtts(phoneColorAnimation 2s infinite);
    &:hover{
      .animationAtts(nome);
      color: @phoneAnimateColor;
    }
  }
}

section {
  .section-inner-wrap{
    padding: 50px 0;
  }

  &.banner .section-inner-wrap{
    padding: 15px 0;
  }

  img {
    max-width: 100%;
  }

  .section-title{
    margin-bottom: 50px;
    .pre-title{
      text-transform: lowercase;
      font-size: 15px;
      margin-bottom: 5px;
    }
    .title{
      text-transform: uppercase;
    }
  }
}

section#premises{
  .room-item{
    display: block;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 30px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    text-align: center;
  }
}

section#communications{
  .communication-item{
    margin-bottom: 30px;
    & > div{
      float: left;
    }
    .icon{
      width: 20%;
      img {
        width: 100%;
      }
    }
    .content{
      width: 78%;
      margin-left: 2%;

      .title{
        font-family: "MullerExtraBold", sans-serif;
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 20px;
      }
      .description{}
    }
  }
}

section#benefits{
  .benefit-item{
    margin-bottom: 20px;
    position: relative;
  }
  img {
    width: 100%;
  }
  .name{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-family: "MullerExtraBold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
  }
}

section#contact {
  padding: 50px 0 100px;

  .section-title{
    text-align: center;
  }
  .subtitle{
    margin-top: 30px;
  }

  label{display: none;}
  input{
    .border-radius(0);
    border-color: #000;
  }
  button{
    background: #000;
    color: #fff;
    border: 1px solid transparent;
    padding: 8px 30px;
    font-family: "MullerExtraBold", sans-serif;
    text-transform: uppercase;
    font-size: 14px;

    &:hover{
      background: @linkUnderlineHoverColor;
    }
  }
}

footer {
  padding: 30px 0;
  background: #2b2b2b;
  color: #fff;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .md-no-padding {
    padding: 0;
  }

  .md-no-padding-right {
    padding-right: 0;
  }

  .md-no-padding-left {
    padding-left: 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/*==========  Non-Mobile  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  header{
    nav.navbar {
      &.navbar-default{
        a {
          padding: 10px 15px;
        }
      }
      li{
        &:not(:last-child){
          margin-right: 20px;
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header{
    nav.navbar {
      &.navbar-default{
        a {
          padding: 5px 10px;
          font-size: 14px;
        }
      }
      li{
        &:not(:last-child){
          margin-right: 0;
        }
      }
    }
  }

  .info-line{
    .info-item{
      margin-bottom: 15px;
      &.contact-data{
        text-align: center;
      }
      &.area{
        text-align: right;
      }
      &.gps-coors{
        text-align: left;
      }
    }
    .pre-content{
      font-size: 14px;
    }
    .content{
      font-size: 40px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h1 {font-size: 35px;}
  h2 {font-size: 30px;}
  h3 {font-size: 25px;}

  html, body {
    height: auto;
    min-height: 100%;
    font-size: 14px;
  }

  header{
    padding: 0;

    .navbar-header button.navbar-toggle{
      background: none;
      border-color: transparent;
      margin: 10px 5px;
      .border-radius(0);
      span.icon-bar{
        background-color: #000;
      }
      &:hover,&:focus{
        border-color: #ececec;
        background: #e2e2e2;
      }
    }

    nav.navbar {
      &.navbar-default{
        a {
          padding: 10px 10px 5px;
          font-size: 14px;
        }
      }
      li{
        &:after{display: none;}
        display: block;
        text-align: left;
        &:hover{
          background: rgba(204, 204, 204, 0.31);
        }
        border-bottom: 1px solid #ececec;
      }
    }
    .navbar-collapse {
      padding: 0;
    }
  }

  .info-line{
    .pre-content{
      font-size: 13px;
    }
    .content{
      font-size: 30px;
    }
  }

  section {
    .section-inner-wrap{
      padding: 25px 0;
    }

    &.banner .section-inner-wrap{
      padding: 15px 0;
    }

    .section-title{
      margin-bottom: 30px;
      .pre-title{
        font-size: 13px;
      }
      .title{
        text-transform: uppercase;
      }
    }
  }

  section#communications{
    .communication-item{
      margin-bottom: 25px;

      .content{
        .title{
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
    }
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
/*@media only screen and (max-width : 320px) {*/
@media only screen and (max-width: 320px) {
}