/**
 * Fonts
 */
/*@font-face {
  font-family: 'Font-name';
  src: url('../fonts/||.eot');
  src: url('../fonts/||.eot') format('embedded-opentype'),
  url('../fonts/||.woff') format('woff'),
  url('../fonts/||.otf') format('opentype'),
  url('../fonts/||.ttf') format('truetype'),
  url('../fonts/||.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: 'MullerExtraBold';
  src: url('../fonts/MullerNarrow-ExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerExtraBoldItalic';
  src: url('../fonts/MullerNarrow-ExtraBoldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerLight';
  src: url('../fonts/MullerNarrow-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerLightItalic';
  src: url('../fonts/MullerNarrow-LightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/**
 * Fonts End
 */


/**
 *  Icons
 */


/**
 *  Icons End
 */